@import '../_variables'

.Slot
  border: 1px solid #222
  background: #333
  cursor: pointer
  color: white
  position: relative
  text-align: center
  display: flex
  flex-direction: row
  height: 120px

  header
    font-size: 15px
    padding: 0 5px
    text-align: left
    writing-mode: vertical-lr
    transform: rotate(-180deg)
    text-align: center

  img
    max-height: 100%

  &.isSelected
    border-color: #1a1a1a

  &.isLegendary
    background: $aspectBg
    .SlotValue
      color: $legendary

  &.isUnique
    background: $aspectBg
    .SlotValue
      color: $unique

  &.Helm
    grid-area: helm

  &.Chest
    grid-area: chest

  &.Gloves
    grid-area: gloves

  &.Pants
    grid-area: pants

  &.Boots
    grid-area: boots

  &.Amulet
    grid-area: amulet

  &.Ring1
    grid-area: ring1

  &.Ring2
    grid-area: ring2

  &.Weapon1
    grid-area: weapon1

  &.Weapon2
    grid-area: weapon2

  &.Weapon3
    grid-area: weapon3

  &.Weapon4
    grid-area: weapon4

.SlotValue
  line-height: 18px
  padding: 10px
  font-family: 'Exocet'

.Name
  text-align: left

.Description
  font-family: 'DiabloSerif'
  text-align: left
  font-size: 14px
  color: white
  padding: 5px 0

  span
    color: $modifier
