@font-face
  font-family: 'Fenris'
  src: url('/OldFenris-Regular.woff2')

@font-face
  font-family: 'Exocet'
  src: url('/ExocetMedium.ttf')

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: 'Fenris', Arial, Helvetica, sans-serif
  font-size: 20px

.App
  padding: 20px
  margin: 0
  width: 100vw
  height: 100vh
  display: grid
  overflow: hidden
  grid-template-areas: 'planner planner tree tree' 'planner planner tree tree' 'planner planner tree tree' 'planner planner tree tree'
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr 1fr
  position: relative
